/* *{
  border: 1px solid red;
} */

:root {
  --gradient: linear-gradient(
    180deg,
    rgba(45, 112, 253, 0.73) 0%,
    #163e92 100%
  );
  --dark: #001747;
  --grey: #888;
  --grey-border: rgba(210, 210, 210, 0.75);
  --grey-light: #bbb;
  --grey-dark: #405175;
  --blue: #2d70fd;
  --green: #00d8a7;
  --white: #fff;
  --contrast: #811738;
  --border-radius: 10px;
}

*{
  caret-color: transparent;
}


body {
    font-family: "Segoe UI", sans-serif;
  background: var(--gradient);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  border: 2px solid white;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.btn:focus {
  outline: 3px solid var(--blue);
}

.btn:hover{
  filter: brightness(1.3);
  cursor: pointer;
}



h1,
h2,
p {
  margin: 0;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--border-radius);;
  background: var(--white);
  padding: 2rem;
  min-height: 70vh;
  width: 70%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 40rem;
}

h2 {
  text-transform: uppercase;
  height: 3rem;
  font-size: 2rem;
  color: var(--dark);
  text-align: center;
}

.input {
  position: relative;
  display: flex;
}

.input-field {
    margin-top: 1rem;
  width: 100%;
  border: 0.06rem solid #d2d2d2df;
  border-radius: var(--border-radius);;
  padding: 1.25rem;
  font-size: 1rem;
  line-height: 1.3rem;
}
.input-field:focus{
    outline: 2px solid var(--blue);
}

input[type="text"]::placeholder {
  color: var(--grey);
}
.left-container{
  display: flex;
  gap: .5rem;
}

.todo-container {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--grey-border);
  border-radius: var(--border-radius);
  margin: 0.2rem;
  padding: 0.2rem;
}

ul {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
}

li {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 0 ;
}

#todoInput:focus {
  caret-color: var(--dark);
}

#todoList p, #todoList-done p {
display: flex;
gap: .5rem;
color: var(--dark);
align-items: center;
caret-color: var(--dark);
}

#todoList .disabled, #todoList-done .disabled {
  color: #8f98a8;
  text-decoration: line-through;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border-radius: 50%;
  border: 0.1rem solid var(--grey-dark);
  color: transparent;
  margin: 0.15rem;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  /* border: 2px solid white; */
}


input[type="checkbox"]:checked::before {
  color: var(--white);
  background-color: var(--green);
  border: 0.06rem solid var(--green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.trash-icon{
  width: 30px;
  color: var(--grey-dark);
  cursor: pointer;
  margin-top: .2rem;
  border: 2px solid white;
  padding: 2px;
}

input[type="checkbox"]:focus, .trash-icon:focus{
  border: 2px solid white;
  outline: 2px solid var(--blue);
  border-radius: var(--border-radius);
}

input[type="checkbox"]:focus{
  border: none;
  /* border-radius: 50%; */
}

.counter {
  border: 0.06rem solid var(--grey-light);
}

.counter-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  gap: 1rem;
  
}

.counter-container p {
  align-self: center;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

.todo-outer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.todo-section-container{
  margin-top: 1rem;
  flex-basis: 48%;
}

.scroll {
  
  margin-top: .5rem;
  height: 15rem;
  scrollbar-width: auto;
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);;
}

.scroll::-webkit-scrollbar{
    width: .6rem;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: var(--border-radius);;
}
.scroll::-webkit-scrollbar-track{
    display: none;
}

#deleteButton{
  background-color: var(--contrast);
  color: #fff;
  border-radius: var(--border-radius);;
  padding: 10px 16px;
  letter-spacing: .1rem;
  border: 2px solid white;
  font-size: 1rem;
}

#deleteButton:focus{
outline: 2px solid var(--contrast);
}

#deleteButton:hover{
  filter: brightness(1.2);
  cursor: pointer; 
}